@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  text-align: center;
  quotes: none;
  padding: 10px;
  margin: 20px;
}

h1 {
  color: hsl(300, 43%, 22%);
  letter-spacing: 0.01rem;
  line-height: 1.8rem;
  margin: 20px;
}

.main-para {
  color: hsl(303, 10%, 53%);
  margin: 15px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-repeat: repeat-x;
  background-size: 20px;
  width: 100px;
  height: 20px;
  margin: 15px;
}

.ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  border-radius: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  margin-bottom: 10px;
}

.names {
  font-weight: bolder;
}

.verified-buyer {
  color: hsl(333, 80%, 67%);
}

.reviews {
  padding: 15px;
}
