@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  text-align: center;
  quotes: none;
  padding: 10px;
  margin: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  color: hsl(300, 43%, 22%);
  line-height: 2.5rem;
  margin: 20px;
}

p {
  color: hsl(303, 10%, 53%);
  margin: 15px;
}

div.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin: 10px;
}

.ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  border-radius: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  color: hsl(300, 24%, 96%);
  margin: 10px;
  padding: 10px;
}

img.profile-pics {
  max-width: 60px;
  border-radius: 50%;
  float: left;
}

.buyer {
  display: inline;
  flex-direction: column;
}

.names {
  font-weight: bolder;
  margin: 10px;
}

.verified-buyer {
  color: hsl(333, 80%, 67%);
}

.reviews {
  padding: 15px;
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    min-height: 100vh;
  }

  .page-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-left,
  .top-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .first-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .second-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .third-rating {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
  }
}

.page-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.ratings {
  display: flex;
  flex-direction: column;
}

.colt-card {
  align-self: flex-start;
}

.irene-card {
  align-self: center;
}

.anne-card {
  align-self: flex-end;
}

@media screen and (min-width: 720px) {
  h1,
  p {
    text-align: left;
  }
  .ratings {
    display: flex;
    flex-direction: row;
  }

  div.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin: 10px;
  }

  .page-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 25vh;
  }

  @media screen and (min-width: 1020px) {
    .main-container {
      max-width: 1000px;
    }
  }
}
